#### 1. Nous souhaitons afficher la valeur minimale observée dans une série de 10 observations incluant 2 valeurs manquantes. La variable est appelée x. L'instruction min(x) fournit-elle le résultat escompté ?

In [1]:
data<-c(1,4,0,NA,5,13,-34,NA,100,-0)

In [2]:
min(data)

[1] NA

In [3]:
min(data, na.rm=TRUE)

[1] -34

#### 2. Nous souhaitons associer les étiquettes « Non » et « Oui » aux valeurs 0 et 1, respectivement, d'une variable appelée z. Quelle commande pouvons-nous utiliser ?

In [10]:
z<-c(0,1,1,1,0,1,1,1,0,0,1,0)
factor(z, labels=c('Non', 'Oui'))
# no need for factor(z, levels=c(0,1), labels=c('Non', 'Oui'))

 [1] Non Oui Oui Oui Non Oui Oui Oui Non Non Oui Non
Levels: Non Oui

#### 3. Pour une variable qualitative z présentant des valeurs manquantes, la commande sum(table(z)) fournit :

In [12]:
val<-c(1,2,3,NA, 5,6,-12, NA)
table(val)

val
-12   1   2   3   5   6
  1   1   1   1   1   1

In [13]:
sum(table(val))

[1] 6

L'effectif total observé (sans les individus ayant des données manquantes)

In [15]:
table(val, useNA='always')

val
 -12    1    2    3    5    6 <NA>
   1    1    1    1    1    1    2

In [14]:
sum(table(val, useNA='always'))

[1] 8

#### 4. Ouvrez le fichier smp1.csv dans un éditeur de texte (type bloc-note, Word...) et cochez la proposition correspondant à la première ligne (avec ou sans sans guillemets autour des noms de variables) :

In [30]:
# executing cat -head 1 ../data/smp1.csv

#### 5. Donnez la borne supérieure de l'intervalle interquartile pour la variable dur.interv en considérant l'ensemble des individus.

In [53]:
smp <- read.csv2("../data/smp2.csv")

In [37]:
str(smp)

'data.frame':	799 obs. of  26 variables:
 $ age         : int  31 49 50 47 23 34 24 52 42 45 ...
 $ prof        : Factor w/ 8 levels "agriculteur",..: 3 NA 7 6 8 6 3 2 6 6 ...
 $ duree       : int  4 NA 5 NA 4 NA NA 5 4 NA ...
 $ discip      : int  0 0 0 0 1 0 0 0 1 0 ...
 $ n.enfant    : int  2 7 2 0 1 3 5 2 1 2 ...
 $ n.fratrie   : int  4 3 2 6 6 2 3 9 12 5 ...
 $ ecole       : int  1 2 2 1 1 2 1 2 1 2 ...
 $ separation  : int  0 1 0 1 1 0 1 0 1 0 ...
 $ juge.enfant : int  0 0 0 0 NA 0 1 0 1 0 ...
 $ place       : int  0 0 0 1 1 0 1 0 0 0 ...
 $ abus        : int  0 0 0 0 0 0 0 0 1 1 ...
 $ grav.cons   : int  1 2 2 1 2 1 5 1 5 5 ...
 $ dep.cons    : int  0 0 0 0 1 0 1 0 1 0 ...
 $ ago.cons    : int  1 0 0 0 0 0 0 0 0 0 ...
 $ ptsd.cons   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ alc.cons    : int  0 0 0 0 0 0 0 0 1 1 ...
 $ subst.cons  : int  0 0 0 0 0 0 1 0 1 0 ...
 $ scz.cons    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ char        : int  1 1 1 1 1 1 1 1 4 1 ...
 $ rs          : int  2 2 2 2 2 1 3 2 3 2 ...
 $ ed          : int  1 2 3 2 2 2 3 2 3 2 ...
 $ dr          : int  1 1 2 2 2 1 2 2 1 2 ...
 $ suicide.s   : int  0 0 0 1 0 0 3 0 4 0 ...
 $ suicide.hr  : int  0 0 0 0 0 0 1 0 1 0 ...
 $ suicide.past: int  0 0 0 0 1 0 1 0 1 0 ...
 $ dur.interv  : int  NA 70 NA 105 NA NA 105 84 78 60 ...

In [38]:
names(smp)

 [1] "age"          "prof"         "duree"        "discip"       "n.enfant"
 [6] "n.fratrie"    "ecole"        "separation"   "juge.enfant"  "place"
[11] "abus"         "grav.cons"    "dep.cons"     "ago.cons"     "ptsd.cons"
[16] "alc.cons"     "subst.cons"   "scz.cons"     "char"         "rs"
[21] "ed"           "dr"           "suicide.s"    "suicide.hr"   "suicide.past"
[26] "dur.interv"

In [41]:
summary(smp$dur.interv)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   0.00   48.00   60.00   61.89   75.00  120.00      50

#### 6. Nous souhaitons recoder la taille de la fratrie (n.fratrie) en variable binaire : « moins de 5 enfants » ('<5') et « 5 enfants ou plus » ('5+'). Quelle commande peut-on utiliser ? (Dans les expressions suivantes, le point-virgule sert à délimiter deux instructions).

In [44]:
table(smp$n.fratrie, useNA = 'always')

   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   16
  76   86  111  129   90   75   63   41   33   31   22   14   10    4    3    3
  17   18   19   20   21 <NA>
   1    2    3    1    1    0

In [54]:
levels(factor(smp$n.fratrie))

 [1] "0"  "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14"
[16] "16" "17" "18" "19" "20" "21"

In [48]:
levels(factor(smp$n.fratrie))[1:5] <- '<5'
levels(factor(smp$n.fratrie))[6:21]  <- '5+'

ERROR: Error in levels(factor(smp$n.fratrie))[1:5] <- "<5": impossible de trouver la fonction "factor<-"

In [84]:
factor(table(smp$n.fratrie <= 5),labels=c('<5', '5+'))

FALSE  TRUE
   <5    5+
Levels: <5 5+

#### 7. Donnez le nombre de lignes du tableau de données pour lesquelles la variable ecole vaut 1, 2 ou 3:

In [65]:
table(smp$ecole, useNA = 'always')

   1    2    3    4    5 <NA>
 340  301   90   45   18    5

In [70]:
sum(table(smp$ecole <= 3, useNA='always')) #doesn't work?!

[1] 799

In [63]:
340+301+90

[1] 731

In [76]:
sum(smp$ecole <= 3, na.rm=TRUE) # count TRUE excluding NA

[1] 731

In [83]:
table(smp$ecole < 4)

FALSE  TRUE
   63   731

#### 8. Donnez le nombre d'individus sans emploi:

In [77]:
names(smp)

 [1] "age"          "prof"         "duree"        "discip"       "n.enfant"
 [6] "n.fratrie"    "ecole"        "separation"   "juge.enfant"  "place"
[11] "abus"         "grav.cons"    "dep.cons"     "ago.cons"     "ptsd.cons"
[16] "alc.cons"     "subst.cons"   "scz.cons"     "char"         "rs"
[21] "ed"           "dr"           "suicide.s"    "suicide.hr"   "suicide.past"
[26] "dur.interv"

In [78]:
table(smp$prof)

       agriculteur            artisan              autre              cadre
                 6                 90                 31                 24
           employe            ouvrier prof.intermediaire        sans emploi
               135                227                 58                222

In [82]:
table(smp$prof == 'sans emploi')

FALSE  TRUE
  571   222

#### 2. Quelle commande permet d'obtenir le nombre total d'individus sans données manquantes ?

In [85]:
sum(complete.cases(smp))

[1] 403

#### 3. Quel est l'âge moyen des dix premiers individus du tableau de données?

In [89]:
mean(smp$age[1:10], na.rm = TRUE)

[1] 39.7

In [88]:
smp$age[1:10]

 [1] 31 49 50 47 23 34 24 52 42 45

#### 4. Quelle est la valeur médiane pour la durée d'intervention (dur.interv) en ne considérant que les 300 premières observations du data frame smp ?

In [90]:
median(smp$dur.interv[1:300], na.rm = TRUE)

[1] 50

In [91]:
smp$dur.interv[1:30]

 [1]  NA  70  NA 105  NA  NA 105  84  78  60  NA  35  95  90  80  NA  90  90  25
[20]  95  55  NA  90 105  83  75  50  NA 100  NA

In [92]:
median(smp$dur.interv[1:300])

[1] NA